@charset "UTF-8";
.container {
  background-color: #ff8066;
}
.container .wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.container .wrap .login-txt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.container .wrap .login-txt div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  margin-bottom: 20px;
}
.container .wrap .login-txt div p {
  font-family: "Pretendard-Regular", Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #3d3d3d;
  font-size: 18px;
  color: #ffffff;
}
.container .wrap .login-txt span {
  font-family: "Pretendard-Regular", Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #ffffff;
}
.container .wrap main {
  width: calc(100% + 40px);
  margin-left: -20px;
  margin-right: -20px;
  padding: 30px 20px;
  background-color: #ffffff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 80px;
  margin-bottom: -20px;
}
.container .wrap main .member {
  background-color: #f0f0f0;
  padding: 5px;
  display: flex;
  border-radius: 50px;
  position: relative;
}
.container .wrap main .member button {
  background-color: #f0f0f0;
  width: 50%;
  border-radius: 50px;
  padding: 9px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, margin-left 0.3s ease;
  margin-right: 20px;
}
.container .wrap main .member button:first-child {
  background-color: #ffffff;
}
.container .wrap main .member button:last-child {
  margin-right: 0;
}
.container .wrap main .member .active {
  background-color: #ffffff;
}
.container .wrap main .login-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.container .wrap main .login-form .login-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container .wrap main .login-form .login-input p {
  font-family: "Pretendard-Regular", Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #3d3d3d;
}
.container .wrap main .login-form .login-input p span {
  color: #f03d3d;
  font-size: 14px;
  font-weight: 500;
}
.container .wrap main .login-form .login-input input {
  border: 1px solid #e2e8f0;
  width: 100%;
  padding: 10px 20px 10px 15px;
  border-radius: 50px;
  outline: none;
  caret-color: #ff8066;
}
.container .wrap main .login-form .login-input input::placeholder {
  font-size: 12px;
}
.container .wrap main .login-form .login-input input:focus {
  outline: none;
}
.container .wrap main .login-form .login-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -25px;
}
.container .wrap main .login-form .login-option .toggle {
  display: flex;
  align-items: center;
  gap: 3px;
}
.container .wrap main .login-form .login-option .toggle input {
  display: none;
}
.container .wrap main .login-form .login-option .toggle .toggle-switch {
  width: 30px; /* 너비를 30px로 조정 */
  height: 15px; /* 높이 조정 */
  display: block;
  position: relative;
  border-radius: 7.5px; /* 둥근 모서리 반경 조정 */
  background-color: #fff;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin: 10px 10px 10px 5px; /* 마진 조정 */
  transition: all 0.2s ease-in;
}
.container .wrap main .login-form .login-option .toggle .toggle-switch .toggle-button {
  width: 10px; /* 버튼의 너비 조정 */
  height: 10px; /* 버튼의 높이 조정 */
  position: absolute;
  top: 50%;
  left: 2px; /* 초기 위치 조정 */
  transform: translateY(-50%);
  border-radius: 50%;
  background: #f03d3d;
  transition: all 0.2s ease-in;
}
.container .wrap main .login-form .login-option .toggle input[type=checkbox]:checked ~ .toggle-switch {
  background: #f03d3d;
}
.container .wrap main .login-form .login-option .toggle input[type=checkbox]:checked ~ .toggle-switch .toggle-button {
  left: calc(100% - 14px); /* 체크 시 버튼의 위치 조정 */
  background: #fff;
}
.container .wrap main .login-form .login-option .toggle span {
  font-weight: 400;
  font-size: 12px;
  color: #3d3d3d;
  letter-spacing: 0.5px;
}
.container .wrap main .login-form .login-option .forgot-pw p {
  font-weight: 500;
  font-size: 12px;
  color: #ff8066;
  letter-spacing: 0.5px;
}
.container .wrap main .login-form .login-button {
  width: 100%;
}
.container .wrap main .login-form .login-button button {
  width: 100%;
  background-color: #ff8066;
  padding: 15px;
  border-radius: 50px;
  color: #ffffff;
}
.container .wrap main .social-login-txt {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.container .wrap main .social-login-txt div {
  border-top: 1px solid #e2e8f0;
  width: 100px;
}
.container .wrap main .social-login-txt p {
  font-weight: 500;
  font-size: 12px;
  color: #555555;
  letter-spacing: 0.5px;
  text-align: center;
}
.container .wrap main .social-login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
html,
body {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Pretendard-Regular", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 20px;
}

.wrap {
  width: 100%;
}

a {
  text-decoration: none;
  color: #242424;
}

ul,
ol,
li {
  list-style: none;
}

.hidden {
  visibility: hidden;
}

input,
button {
  border: none;
}

button {
  cursor: pointer;
}

input[type=text],
input[type=password] {
  outline: none;
}

input[type=text],
input[type=password] {
  caret-color: #242424;
  color: #8b8b8b;
}
input[type=text]:focus,
input[type=password]:focus {
  outline: none;
}

input[type=text]::placeholder,
input[type=password]::placeholder {
  color: #e2e8f0;
}

ul.nav {
  z-index: 999;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 100%;
  height: 96px;
  background-color: #fff;
  border-top: 1px solid #dfdfdf;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 10px 20px 30px 20px;
}
ul.nav li {
  width: 20%;
  padding: 30px 0px;
}
ul.nav li a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
ul.nav .on {
  border-radius: 16px;
}
.btn-wrap {
  z-index: 999;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #fff;
  padding: 10px 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-wrap button {
  background: #ff8066;
  border-radius: 16px;
  color: #fff;
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  text-align: center;
  cursor: pointer;
  letter-spacing: 1px;
}
.btn-wrap .disabled {
  opacity: 0.5;
}

header {
  width: 100%;
  position: sticky;
  z-index: 999;
  top: 0;
}
header .wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
header .wrap .header-left,
header .wrap .header-right {
  width: 24px;
}
header .wrap .header-left .icon a,
header .wrap .header-right .icon a {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .wrap .header-left .icon a span,
header .wrap .header-right .icon a span {
  color: #ffffff;
  font-size: 20px;
}
header .wrap .header-center .txt p {
  word-break: keep-all;
}

.search-bar {
  display: flex;
  align-items: center;
  position: relative;
}
.search-bar input {
  width: 100%;
  border-radius: 16px;
  padding: 16px 20px;
}
.search-bar img {
  position: absolute;
  right: 20px;
}

/*# sourceMappingURL=style.css.map */
