// color 변수 정의
$main-color: #ff8066;
$main-color-light: #ffccbb;
$main-color-blue: #8db8ff;
$red: #f03d3d;

$white: #ffffff;

// background color
$bg: #f4f4f4;
$bg-b: #fafbfd;

$grey1: #e2e8f0;
$grey2: #c1c1c1;
$grey3: #a5a5a5;
$grey4: #8b8b8b;
$grey5: #6f6f6f;

$dark-grey1: #555555;
$dark-grey2: #3d3d3d;
$dark-grey3: #242424;
