// color 변수 정의
$main-color: #5d5fef;
$main-color-light: #f6f4fc;
$main-color-dark: #7879f1;

$main-color02: #f9f9f9;

$main-color-blue: #8db8ff;
$red: #ff5959;
$green: #2f4f4f;

$white: #ffffff;

// background color
$bg: #f1f1f1;
$bg2: #F0F1F3;
$bg3: #ECEEEF;

$placeholder: #e7e7e7;
$grey4: #8b8b8b;
$search-history: #f7f8fd;

$dark-grey1: #555555;
$dark-grey2: #3d3d3d;
$dark-grey3: #242424;

$main-li1: #f4d5d9;
$main-li2: #dcd9e9;
$main-li3: #dbecee;
$main-li4: #f1ebe7;
$main-li5: #f0e2ec;
$main-li6: #e8e4f2;
$main-li7: #e4eee6;
$main-li8: #e9e9d3;
