//font 변수 정의

@mixin header {
	font-family: "Pretendard-Regular", Arial, sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: $dark-grey2;
}

@mixin header-span {
	font-family: "Pretendard-Regular", Arial, sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: $white;
}

@mixin nav {
	font-family: "Pretendard-Regular", Arial, sans-serif;
	font-weight: 400;
	font-size: 10px;
	text-align: center;
	color: $grey4;
}

@mixin login-title {
	font-family: "Pretendard-Regular", Arial, sans-serif;
	font-weight: 600;
	font-size: 14px;
	color: $dark-grey2;
}

@mixin login-essential {
	color: $red;
	font-size: 14px;
	font-weight: 500;
}

@mixin login-toggle {
	font-weight: 400;
	font-size: 12px;
	color: $dark-grey2;
	letter-spacing: 0.5px;
}

@mixin terms-main {
	font-family: "Pretendard-Regular", Arial, sans-serif;
	font-weight: 700;
	font-size: 14px;
	color: $dark-grey2;
}

@mixin terms-content {
	font-family: "Pretendard-Regular", Arial, sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: $dark-grey2;
}

@mixin button {
	font-family: "Pretendard-Regular", Arial, sans-serif;
	font-weight: 700;
	font-size: 14px;
	text-align: center;
}

@mixin join-confirm {
	font-family: "Pretendard-Regular", Arial, sans-serif;
	font-weight: 700;
	font-size: 20px;
}

@mixin main-title {
	font-family: "Pretendard-Regular", Arial, sans-serif;
	font-weight: 700;
	font-size: 14px;
}

@mixin main-title-search {
	font-family: "Pretendard-Regular", Arial, sans-serif;
	font-weight: 700;
	font-size: 22px;
}

@mixin main-menu {
	font-family: "Pretendard-Regular", Arial, sans-serif;
	font-weight: 500;
	font-size: 12px;
	word-break: keep-all;
	text-align: center;
}

@mixin main-table-title {
	font-family: "Pretendard-Regular", Arial, sans-serif;
	font-weight: 700;
	font-size: 12px;
	word-break: keep-all;
	text-align: center;
}

@mixin main-table-content {
	font-family: "Pretendard-Regular", Arial, sans-serif;
	font-weight: 500;
	font-size: 12px;
	word-break: keep-all;
	text-align: center;
}

@mixin main-table-btn {
	font-family: "Pretendard-Regular", Arial, sans-serif;
	font-weight: 500;
	font-size: 12px;
	word-break: keep-all;
	text-align: center;
}

@mixin main-ul3-title {
	font-family: "Pretendard-Regular", Arial, sans-serif;
	font-weight: 700;
	font-size: 14px;
	word-break: keep-all;
}

@mixin main-ul3-date {
	font-family: "Pretendard-Regular", Arial, sans-serif;
	font-weight: 500;
	font-size: 12px;
	word-break: keep-all;
}

@mixin main-swiper2-a {
	font-family: "Pretendard-Regular", Arial, sans-serif;
	font-weight: 500;
	font-size: 12px;
	word-break: keep-all;
	color: $white;
}

@mixin main-company-info {
	font-family: "Pretendard-Regular", Arial, sans-serif;
	font-weight: 500;
	font-size: 14px;
	word-break: keep-all;
}

@mixin main-company-info-btn {
	font-family: "Pretendard-Regular", Arial, sans-serif;
	font-weight: 700;
	font-size: 12px;
	word-break: keep-all;
}

@mixin search-li {
	font-family: "Pretendard-Regular", Arial, sans-serif;
	font-weight: 500;
	font-size: 12px;
	word-break: keep-all;
}

@mixin search-history {
	font-family: "Pretendard-Regular", Arial, sans-serif;
	font-weight: 500;
	font-size: 12px;
	word-break: keep-all;
}

@mixin alarm-li {
	font-family: "Pretendard-Regular", Arial, sans-serif;
	font-weight: 500;
	font-size: 13px;
	word-break: keep-all;
}

@mixin alarm-content-txt {
	font-family: "Pretendard-Regular", Arial, sans-serif;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	word-break: keep-all;
}

@mixin profile-add {
	font-family: "Pretendard-Regular", Arial, sans-serif;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	word-break: keep-all;
}

@mixin profile-title {
	font-family: "Pretendard-Regular", Arial, sans-serif;
	font-weight: 700;
	font-size: 13px;
	line-height: 16px;
	word-break: keep-all;
}

@mixin profile-p {
	font-family: "Pretendard-Regular", Arial, sans-serif;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	word-break: keep-all;
}

@mixin profile-add-title {
	font-family: "Pretendard-Regular", Arial, sans-serif;
	font-weight: 700;
	font-size: 12px;
	line-height: 18px;
	word-break: keep-all;
}

@mixin profile-add-form {
	font-family: "Pretendard-Regular", Arial, sans-serif;
	font-weight: 700;
	font-size: 12px;
	line-height: 18px;
	word-break: keep-all;
}
@mixin profile-add-form-button {
	font-family: "Pretendard-Regular", Arial, sans-serif;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	word-break: keep-all;
}
