.container {
	.modal-backdrop {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 1;
	}

	.modal {
		width: 280px;
		max-height: 90vh;
		overflow-y: scroll;

		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		z-index: 2;

		background-color: white;

		padding: 0 20px 30px 20px;
		border-radius: 10px;

		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

		.modal-content {
			display: flex;
			flex-direction: column;
			gap: 30px;

			.modal-header {
				width: calc(100% + 40px);
				margin: 0 -20px;

				height: 45px;

				padding: 0px 20px;
				display: flex;
				align-items: center;
				justify-content: space-between;

				position: sticky;
				top: 0;
				background-color: $white;

				span {
					font-size: 22px;
					cursor: pointer;
				}

				h2 {
					@include modal-header;
				}
			}

			form {
				display: flex;
				flex-direction: column;
				gap: 10px;

				.radio-option {
					display: flex;
					align-items: center;
					gap: 5px;

					label {
						@include modal-input;
					}
				}

				textarea {
					margin-top: 10px;
					width: 100%;
					height: 100px;
					padding: 10px;
					border: 1px solid #ccc;
					border-radius: 10px;

					@include modal-input;

					&::placeholder {
						color: $placeholder;
					}

					&:focus {
						outline: none;
					}
				}
			}

			button {
				width: 100%;
				border-radius: 10px;
				background-color: $main-color;
				padding: 10px;
				@include modal-input;
				color: $white;
			}
		}
	}

	.modal-review {
		width: 300px;

		.modal-content {
			gap: 20px;

			.modal-header {
				margin-bottom: 10px;
			}

			.rating {
				display: flex;
				gap: 10px;
				align-items: center;

				.rating-text {
					@include modal-input;
					line-height: 16px;
				}

				.star-rating {
					display: flex;
					font-size: 16px;
					color: #ccc;
					cursor: pointer;
					justify-content: center;
					align-items: center;
					line-height: 16px;

					.star {
						margin-right: 5px;
					}
				}
			}

			input {
				border: 1px solid #ccc;
				border-radius: 8px;
				padding: 8px 10px;

				@include modal-input;

				&::placeholder {
					color: $placeholder;
				}
			}

			textarea {
				width: 100%;
				height: 200px;
				padding: 10px;
				border: 1px solid #ccc;
				border-radius: 10px;
				@include modal-input;

				&::placeholder {
					color: $placeholder;
				}

				&:focus {
					outline: none;
				}
			}

			.button {
				display: flex;
				gap: 10px;
				align-items: center;
				justify-content: space-between;

				button {
					@include modal-input;
					color: $white;

					&:first-child {
						background-color: $main-color-light;
						border: 1px solid $main-color;
						color: $main-color;
					}
				}
			}
		}
	}

	// 마이페이지 - 나의 신청 내역 - 상세 보기
	.application {
		width: 85%;

		.modal-content {
			.recruitment-apply {
				display: flex;
				flex-direction: column;
				gap: 30px;
				padding-top: 0px;

				.status {
					display: flex;

					.badgeA,
					.badgeB,
					.badgeC,
					.badgeD {
						padding: 10px 15px;
						background-color: #4caf50;
						color: $white;
						border-radius: 8px;
						display: flex;
						justify-content: center;
						align-items: center;

						p {
							font-size: 12px;
							font-weight: 500;
							line-height: 11px;
							color: $white;
						}
					}

					.badgeB {
						background-color: #c62828;
					}

					.badgeC {
						background-color: #ffc107;
					}

					.badgeD {
						background-color: #9e9e9e;
					}
				}

				.check {
					display: flex;
					flex-direction: column;
					gap: 5px;

					.title {
						p {
							@include apply-title;
						}
					}

					.txt {
						p {
							@include apply-title;
							font-weight: 500;
							font-size: 13px;
							color: $dark-grey1;
						}
					}
				}

				.choice {
					display: flex;
					flex-direction: column;
					gap: 10px;

					.title {
						p {
							@include apply-title;
						}
					}

					.cv {
						display: flex;
						flex-direction: column;
						gap: 10px;

						.profile {
							display: flex;
							align-items: center;
							gap: 5px;

							border-radius: 10px;
							background-color: $main-color02;

							padding: 15px;

							border: 1px solid #ccc;

							.radio {
								display: flex;
								align-items: center;
								gap: 13px;
								width: 100%;

								.txt {
									display: flex;
									flex-direction: column;
									align-items: center;
									gap: 5px;

									label {
										p {
											@include apply-title;
											font-weight: 500;
										}
									}
								}
							}

							.buttons {
								display: flex;
								align-items: center;
								gap: 3px;

								button {
									padding: 3px 9px;
									@include apply-title;
									font-weight: 500;
									font-size: 10px;
									background-color: $white;
									border: 1px solid #ccc;
									border-radius: 7px;
								}
							}
						}
					}
				}

				.msg {
					display: flex;
					flex-direction: column;
					gap: 10px;

					.title {
						p {
							@include apply-title;
						}
					}

					.msg-content {
						border: 1px solid #ccc;
						padding: 15px;
						border-radius: 10px;
						background-color: $main-color02;

						p {
							@include apply-title;
							font-weight: 500;
							font-size: 12px;
							color: $dark-grey1;
						}
					}
				}

				.button {
					display: flex;
					gap: 10px;
					align-items: center;
					justify-content: space-between;

					button {
						@include modal-input;
						color: $white;
						border-radius: 10px;
						padding: 10px 20px;

						&:first-child {
							background-color: $main-color-light;
							border: 1px solid $main-color;
							color: $main-color;
						}
					}
				}
			}
		}
	}

	.modal-error {

		.txt{
			width: 100%;
			text-align: center;
			margin-bottom: 10px;
		}

		.button {
			display: flex;
			gap: 10px;
			align-items: center;
			justify-content: space-between;

			button {
				@include modal-input;
				color: $white;
				border-radius: 10px;
				padding: 10px 20px;

				&:first-child {
					background-color: $main-color-light;
					border: 1px solid $main-color;
					color: $main-color;
				}
			}
		}
	}
}


.serviceModal{
	.serviceModalCon{
		width: 90vw;

		.modal-content{
			gap: 0px;

			img{
				width: 100%;
			}
		}
	}
}
