@charset 'utf-8';

// IMPORT SCSS
@import "font.scss";
@import "color.scss";
@import "join.scss";

// FONT
@font-face {
	font-family: "Pretendard-Regular";
	src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
		format("woff");
	font-weight: 400;
	font-style: normal;
}

// COMMON STYLE
html,
body {
	margin: 0;
	padding: 0;
}

* {
	font-family: "Pretendard-Regular", serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 100%;
	margin: 0 auto;
	position: relative;
	padding: 20px;
	padding-bottom: 130px;
}

.wrap {
	width: 100%;
}

a {
	text-decoration: none;
	color: $dark-grey3;
}

ul,
ol,
li {
	list-style: none;
}

.hidden {
	visibility: hidden;
}

input,
button {
	border: none;
}

button {
	cursor: pointer;
}

// input text
input[type="text"],
input[type="password"] {
	outline: none;
}

input[type="text"],
input[type="password"] {
	caret-color: $dark-grey3;
	caret-color: $dark-grey3;

	&:focus {
		outline: none;
	}
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
	color: $placeholder;
}

// BUTTON STYLE
.btn-wrap {
	z-index: 999;
	width: 100%;

	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);

	background-color: #fff;
	padding: 10px 20px 20px 20px;
	display: flex;
	align-items: center;
	justify-content: center;

	button {
		background: $main-color;
		border-radius: 16px;
		color: #fff;
		width: 100%;
		height: 50px;
		border: none;
		cursor: pointer;
		letter-spacing: 1px;

		@include button;
	}
}

// DISABD BUTTON STYLE
.btn-wrap-disabled {
	z-index: 999;
	width: 100%;

	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);

	background-color: #fff;
	padding: 10px 20px 20px 20px;
	display: flex;
	align-items: center;
	justify-content: center;

	button {
		background: $placeholder;
		border-radius: 16px;
		color: #fff;
		width: 100%;
		height: 50px;
		border: none;
		cursor: pointer;
		letter-spacing: 1px;

		@include button;
	}
}

// HEADER STYLE
header {
	width: 100%;
	position: sticky;
	z-index: 999;
	top: 0;
	background: $white;
	//padding: 0px 20px;

	.wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 50px;

		.header-left,
		.header-right {
			width: 24px;

			.icon {
				a {
					display: flex;
					justify-content: center;
					align-items: center;

					span {
						font-size: 20px;
					}
				}
			}
		}

		.img {
			width: 100px;

			a {
				img {
					width: 100%;
					object-fit: contain;
				}
			}
		}

		.header-center {
			.txt {
				p {
					@include header;
					word-break: keep-all;
				}
			}
		}
	}
}

// SEARCH-BAR STYLE
.search-bar {
	display: flex;
	align-items: center;
	position: relative;

	input {
		width: 100%;
		border-radius: 16px;
		padding: 16px 20px;
		border: 1px solid $grey4;
	}

	img {
		width: 18px;
		position: absolute;
		right: 20px;
	}
}

// LOGIN-FORM STYLE
.login-form {
	display: flex;
	flex-direction: column;
	gap: 30px;

	.login-input {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 10px;

		p {
			@include login-title;

			span {
				@include login-essential;
			}
		}

		input[type="text"],
		select {
			border: 1px solid $placeholder;
			width: 100%;
			padding: 10px 20px 10px 15px;
			border-radius: 10px;
			outline: none;
			caret-color: $main-color;
			color: $dark-grey1;

			&::placeholder {
				font-size: 12px;
				color: $placeholder;
			}

			&:focus {
				outline: none;
			}
		}

		#custom-button {
			padding: 10px 20px 10px 15px;
			color: white;
			background-color: $main-color;
			border: 1px solid $main-color;
			border-radius: 10px;
			cursor: pointer;

			&:hover {
				background-color: #0056b3;
			}
		}

		#custom-text {
			font-size: 12px;
			color: $dark-grey1;
		}

		button {
			padding: 10px 20px;
			border-radius: 10px;

			@include login-toggle;

			color: $main-color;
			border: 1px solid $main-color;
			background-color: $white;
			cursor: pointer;
		}
	}

	.login-option {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: -25px;

		.toggle {
			display: flex;
			align-items: center;
			gap: 3px;

			input {
				display: none;
			}

			.toggle-switch {
				width: 30px; /* 너비를 30px로 조정 */
				height: 15px; /* 높이 조정 */
				display: block;
				position: relative;
				border-radius: 7.5px; /* 둥근 모서리 반경 조정 */
				background-color: #fff;
				box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.15);
				cursor: pointer;

				margin: 10px 5px 10px 5px; /* 마진 조정 */

				.toggle-button {
					width: 10px; /* 버튼의 너비 조정 */
					height: 10px; /* 버튼의 높이 조정 */
					position: absolute;
					top: 50%;
					left: 2px; /* 초기 위치 조정 */
					transform: translateY(-50%);
					border-radius: 50%;
					background: #f03d3d;
					transition: all 0.2s ease-in;
				}

				transition: all 0.2s ease-in;
			}

			input[type="checkbox"]:checked ~ .toggle-switch {
				background: #f03d3d;

				.toggle-button {
					left: calc(100% - 14px); /* 체크 시 버튼의 위치 조정 */
					background: #fff;
				}
			}

			span {
				font-weight: 400;
				font-size: 12px;
				color: $dark-grey2;
				letter-spacing: 0.5px;
			}
		}

		.forgot-pw {
			p {
				font-weight: 500;
				font-size: 12px;
				color: $main-color;
				letter-spacing: 0.5px;
			}
		}
	}

	.login-button {
		width: 100%;

		button {
			width: 100%;
			background-color: $main-color;
			padding: 15px;
			border-radius: 50px;
			color: $white;
		}
	}
}

// NAV TAB-BAR
ul.nav {
	z-index: 999;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);

	display: flex;

	width: 100%;
	height: 96px;

	background-color: #fff;
	border-top: 1px solid #dfdfdf;

	border-top-left-radius: 16px;
	border-top-right-radius: 16px;

	padding: 10px 20px 30px 20px;

	li {
		width: 20%;
		padding: 30px 0px;

		a {
			display: block;
			width: 100%;
			height: 100%;
			text-align: center;

			display: flex;
			flex-direction: column;
			align-content: center;
			justify-content: center;
			gap: 4px;

			p {
				@include nav;
			}

			i {
				span {
					color: $grey4;
					font-size: 24px;
				}
			}
		}
	}

	.on {
		background-color: $main-color;
		border-radius: 16px;

		p {
			color: $white;
		}

		i {
			span {
				color: $white;
			}
		}
	}
}

.swiper1 {
	width: 100%;
	height: 150px;
	position: relative;

	swiper-slide {
		text-align: center;
		font-size: 18px;
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;

		.img {
			width: 100%;
			height: auto;
			object-fit: contain;

			img {
				width: 100%;
				height: auto;
				object-fit: contain;
			}
		}
	}
}

.swiper-wrap {
	display: flex;
	align-items: center;
	background-color: $main-color-dark;
	width: calc(100% + 40px);
	margin-left: -20px;
	margin-right: -20px;

	padding-left: 10px;

	p {
		@include main-swiper2-a;
		font-weight: 700;
		width: 15%;
	}

	.swiper2 {
		width: 85%;
		height: 50px;
		background-color: $main-color-dark;
		display: flex;
		justify-content: center;

		swiper-slide {
			display: flex;
			align-items: center;
			text-align: left;
			width: 100%;

			a {
				@include main-swiper2-a;
				display: block;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				text-align: left;
				width: 97%;
			}
		}
	}
}

.login {
	background-color: $main-color;
	padding-bottom: 0px;

	header {
		background-color: transparent;
		position: relative;

		.wrap {
			.header-left {
				.icon {
					a {
						span {
							color: $white;
						}
					}
				}
			}
		}
	}

	.wrap {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 30px;

		.login-txt {
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			div {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 5px;
				margin-bottom: 20px;

				p {
					@include header;
					font-size: 18px;
					color: $white;
				}
			}

			span {
				@include header-span;
			}
		}

		main {
			width: calc(100% + 40px);
			margin-left: -20px;
			margin-right: -20px;
			padding: 30px 20px;
			background-color: $white;
			border-top-left-radius: 30px;
			border-top-right-radius: 30px;
			display: flex;
			flex-direction: column;
			gap: 30px;
			padding-bottom: 50px;
			margin-bottom: -20px;

			.member {
				background-color: #f0f0f0;
				padding: 5px;
				border-radius: 10px;

				display: flex;
				align-items: center;

				button {
					width: 100%;
					background-color: #f0f0f0;
					border-radius: 10px;
					padding: 9px 30px;
					border: none;
					cursor: pointer;
					transition: background-color 0.3s ease,
						margin-left 0.3s ease;
					margin-right: 10px;

					@include header-span;
					color: $dark-grey1;

					&:first-child {
						background-color: #ffffff;
					}

					&:last-child {
						margin-right: 0;
					}
				}

				.active {
					background-color: #ffffff;
				}
			}

			.social-login {
				margin: 10px 0px;
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 15px;
			}

			.join {
				display: flex;
				justify-content: center;
				align-items: center;

				p {
					@include header-span;
					color: $dark-grey1;

					span {
						font-weight: 700;
						text-decoration: underline;
						margin-left: 3px;
						cursor: pointer;
					}
				}
			}
		}
	}
}

.main {
	main {
		display: flex;
		flex-direction: column;
		gap: 30px;

		.menu {
			display: flex;
			flex-direction: column;
			gap: 15px;
			align-items: flex-end;

			.main-title {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;

				p {
					@include main-title;
					color: $dark-grey3;

					&:nth-child(2) {
						font-size: 10px;
						color: $grey4;
						font-weight: 500;
					}
				}
			}

			.menu-ul {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				gap: 10px;

				li {
					width: 30%;
					padding: 10px;
					border-radius: 10px;
					transition: all 0.3s;
					cursor: pointer;

					a {
						display: flex;
						flex-direction: column;
						align-items: center;
						gap: 15px;
						color: $dark-grey2;

						.img {
							width: 50px;
							height: 50px;

							display: flex;
							justify-content: center;
							align-items: center;

							border-radius: 10px;

							img {
								width: 30px;
								height: 30px;
							}
						}

						p {
							@include main-menu;
						}
					}

					&:hover {
						background-color: $main-color;

						a {
							color: $white;
						}
					}

					&:nth-child(1) {
						a {
							.img {
								background-color: $main-li1;
							}
						}
					}

					&:nth-child(2) {
						a {
							.img {
								background-color: $main-li3;
							}
						}
					}

					&:nth-child(3) {
						a {
							.img {
								background-color: $main-li4;
							}
						}
					}

					&:nth-child(4) {
						a {
							.img {
								background-color: $main-li5;
							}
						}
					}

					&:nth-child(5) {
						a {
							.img {
								background-color: $main-li7;
							}
						}
					}

					&:nth-child(6) {
						a {
							.img {
								background-color: $main-li8;
							}
						}
					}
				}
			}

			.menu-ul2 {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				gap: 10px;

				li {
					width: 30%;
					border-radius: 50px;
					transition: all 0.3s;
					cursor: pointer;
					padding: 5px 10px;

					border: 1px solid #cccccc;

					a {
						display: flex;
						align-items: center;
						justify-content: center;
						gap: 10px;
						color: $dark-grey2;

						.img {
							width: 25px;

							display: flex;
							justify-content: center;
							align-items: center;

							img {
								width: 25px;
								height: 25px;
							}
						}

						p {
							@include main-menu;
						}
					}

					&:hover {
						background-color: $main-color;

						a {
							color: $white;
						}
					}
				}
			}

			.recruitment-table-container {
				.recruitment-table {
					width: 100%;
					border-collapse: collapse;
					table-layout: fixed; // 테이블의 레이아웃을 고정

					thead tr th,
					tbody tr td {
						padding: 8px; // 모든 테이블 셀에 패딩 적용
					}

					thead {
						tr {
							th {
								@include main-table-title;

								&:nth-child(1) {
									width: 10%;
								} // 순번
								&:nth-child(2) {
									width: 65%;
								} // 제목
								&:nth-child(3) {
									width: 25%;
								} // 업로드날짜
							}
						}
					}

					tbody {
						tr {
							td {
								@include main-table-content;

								&:nth-child(1) {
									width: 10%;
									text-align: center;
								} // 순번

								&:nth-child(2) {
									// 제목
									width: 65%;
									padding: 0px;

									.ellipsis {
										width: 100%;
										white-space: nowrap;
										overflow: hidden;
										text-overflow: ellipsis;
										display: block;
										text-align: left;
									}
								}

								&:nth-child(3) {
									padding: 0px;
									width: 25%;
								} // 업로드날짜
							}

							&:nth-child(odd) {
								background-color: #f9f9f9; // 홀수 번째 행의 배경색 설정
							}
						}
					}
				}
			}

			.menu-ul3 {
				width: 100%;
				display: flex;
				flex-direction: column;
				gap: 10px;

				li {
					width: 100%;
					display: flex;
					justify-content: space-between;
					align-items: center;
					gap: 10px;
					height: 70px;

					.img {
						width: 50%;
						height: 100%;
						background-color: $bg;

						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}

					.txt {
						width: 50%;
						display: flex;
						flex-direction: column;
						gap: 10px;

						p {
							&:nth-child(1) {
								@include main-ul3-title;
							}

							&:nth-child(2) {
								@include main-ul3-date;
							}
						}
					}
				}
			}

			.more-btn {
				padding-top: 10px;
				border: none;
				cursor: pointer;

				transition: background-color 0.3s;
				border-radius: 10px;

				display: flex;
				justify-content: center;
				align-items: center;
				gap: 3px;
				background-color: transparent;
				color: $dark-grey3;

				p {
					@include main-table-btn;
					line-height: 12px;
				}

				span {
					font-size: 18px;
					line-height: 12px;
				}

				&:hover {
					background-color: darken($main-color, 10%);
				}
			}

			.company-info {
				width: 100%;
				padding: 20px;
				border-radius: 20px;
				border: 1px solid $placeholder;
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 10px;

				p {
					@include main-company-info;
				}

				.company-info-btn {
					padding: 10px 20px;
					border-radius: 10px;
					margin-top: 15px;
					background-color: $main-color;

					@include main-company-info-btn;
					color: $white;
				}
			}

			.main-content {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				gap: 10px;

				button {
					padding: 10px 15px;
					border-radius: 50px;
					background-color: $white;
					border: 1px solid $main-color-light;

					@include search-button;
				}
			}

			.search-history {
				padding-top: 10px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-between;
				gap: 20px;

				width: 100%;
				background-color: $white;


				.search-history-content {
					display: flex;
					align-items: center;
					justify-content: space-between;

					width: 100%;

					span {
						width: 5%;
						font-size: 20px;
						color: $dark-grey1;
					}

					p {
						width: 80%;
						@include search-history;
					}
				}
			}
		}

		.member-profile {
			.main-title {
				p {
					@include main-title;
				}
			}
		}
	}
}
