@charset 'utf-8';

// IMPORT SCSS
@import "font.scss";
@import "color.scss";
@import "join.scss";

// FONT
@font-face {
	font-family: "Pretendard-Regular";
	src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
		format("woff");
	font-weight: 400;
	font-style: normal;
}

// COMMON STYLE
html,
body {
	margin: 0;
	padding: 0;
}

* {
	font-family: "Pretendard-Regular", serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 100%;
	margin: 0 auto;
	position: relative;
	padding: 20px;
	padding-bottom: 130px;
}

.wrap {
	width: 100%;
}

a {
	text-decoration: none;
	color: $dark-grey3;
}

ul,
ol,
li {
	list-style: none;
}

.hidden {
	visibility: hidden;
}

input,
button {
	border: none;
}

button {
	cursor: pointer;
}

// input text
input[type="text"],
input[type="password"] {
	outline: none;
}

input[type="text"],
input[type="password"] {
	caret-color: $dark-grey3;
	color: $grey4;

	&:focus {
		outline: none;
	}
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
	color: $grey1;
}

// BUTTON STYLE
.btn-wrap {
	z-index: 999;
	width: 100%;

	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);

	background-color: #fff;
	padding: 10px 20px 20px 20px;
	display: flex;
	align-items: center;
	justify-content: center;

	button {
		background: $main-color;
		border-radius: 16px;
		color: #fff;
		width: 100%;
		height: 50px;
		border: none;
		cursor: pointer;
		letter-spacing: 1px;

		@include button;
	}
}

// DISABD BUTTON STYLE
.btn-wrap-disabled {
	z-index: 999;
	width: 100%;

	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);

	background-color: #fff;
	padding: 10px 20px 20px 20px;
	display: flex;
	align-items: center;
	justify-content: center;

	button {
		background: $grey2;
		border-radius: 16px;
		color: #fff;
		width: 100%;
		height: 50px;
		border: none;
		cursor: pointer;
		letter-spacing: 1px;

		@include button;
	}
}

// HEADER STYLE
header {
	width: 100%;
	position: sticky;
	z-index: 999;
	top: 0;
	background: $white;
	//padding: 0px 20px;

	.wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 50px;

		.header-left,
		.header-right {
			width: 24px;

			.icon {
				a {
					display: flex;
					justify-content: center;
					align-items: center;

					span {
						font-size: 20px;
					}
				}
			}
		}

		.img {
			width: 100px;

			a {
				img {
					width: 100%;
					object-fit: contain;
				}
			}
		}

		.header-center {
			.txt {
				p {
					@include header;
					word-break: keep-all;
				}
			}
		}
	}
}

// SEARCH-BAR STYLE
.search-bar {
	display: flex;
	align-items: center;
	position: relative;

	input {
		width: 100%;
		border-radius: 16px;
		padding: 16px 20px;
		//background-color: $bg_g;

		//@include search-bar;
	}

	img {
		position: absolute;
		right: 20px;
	}
}

// LOGIN-FORM STYLE
.login-form {
	display: flex;
	flex-direction: column;
	gap: 30px;

	.login-input {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 10px;

		p {
			@include login-title;

			span {
				@include login-essential;
			}
		}

		input[type="text"],
		select {
			border: 1px solid $grey2;
			width: 100%;
			padding: 10px 20px 10px 15px;
			border-radius: 10px;
			outline: none;
			caret-color: $main-color;
			color: $dark-grey1;

			&::placeholder {
				font-size: 12px;
				color: $grey3;
			}

			&:focus {
				outline: none;
			}
		}

		#custom-button {
			padding: 10px 20px 10px 15px;
			color: white;
			background-color: $main-color;
			border: 1px solid $main-color;
			border-radius: 10px;
			cursor: pointer;

			&:hover {
				background-color: #0056b3;
			}
		}

		#custom-text {
			font-size: 12px;
			color: $dark-grey1;
		}

		button {
			padding: 10px 20px;
			border-radius: 10px;

			@include login-toggle;

			color: $main-color;
			border: 1px solid $main-color;
			background-color: $white;
			cursor: pointer;
		}
	}
}

// NAV TAB-BAR
ul.nav {
	z-index: 999;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);

	display: flex;

	width: 100%;
	height: 96px;

	background-color: #fff;
	border-top: 1px solid #dfdfdf;

	border-top-left-radius: 16px;
	border-top-right-radius: 16px;

	padding: 10px 20px 30px 20px;

	li {
		width: 20%;
		padding: 30px 0px;

		a {
			display: block;
			width: 100%;
			height: 100%;
			text-align: center;

			display: flex;
			flex-direction: column;
			align-content: center;
			justify-content: center;
			gap: 4px;

			p {
				@include nav;
			}

			i {
				span {
					color: $grey4;
					font-size: 24px;
				}
			}
		}
	}

	.on {
		background-color: $main-color-light;
		border-radius: 16px;

		p {
			color: $main-color;
		}

		i {
			span {
				color: $main-color;
			}
		}
	}
}

// VISUAL-SLIDE
.category-icons {
	swiper-container {
		width: 100%;
		height: 100%;

		swiper-slide {
			width: 100%;
			height: 150px;
			cursor: pointer;

			.img {
				width: 100%;
				height: 150px;

				img {
					width: 100%;
					height: 150px;
					object-fit: cover;
				}
			}
		}
	}
}

.login {
	background-color: $main-color;
	padding-bottom: 0px;

	header {
		background-color: transparent;
		position: relative;

		.wrap {
			.header-left {
				.icon {
					a {
						span {
							color: $white;
						}
					}
				}
			}
		}
	}

	.wrap {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 30px;

		.login-txt {
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			div {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 5px;
				margin-bottom: 20px;

				p {
					@include header;
					font-size: 18px;
					color: $white;
				}
			}

			span {
				@include header-span;
			}
		}

		main {
			width: calc(100% + 40px);
			margin-left: -20px;
			margin-right: -20px;
			padding: 30px 20px;
			background-color: $white;
			border-top-left-radius: 30px;
			border-top-right-radius: 30px;
			display: flex;
			flex-direction: column;
			gap: 30px;
			padding-bottom: 50px;
			margin-bottom: -20px;

			.member {
				background-color: #f0f0f0;
				padding: 5px;
				border-radius: 10px;

				display: flex;
				align-items: center;

				button {
					width: 100%;
					background-color: #f0f0f0;
					border-radius: 10px;
					padding: 9px 30px;
					border: none;
					cursor: pointer;
					transition: background-color 0.3s ease,
						margin-left 0.3s ease;
					margin-right: 10px;

					@include header-span;
					color: $dark-grey1;

					&:first-child {
						background-color: #ffffff;
					}

					&:last-child {
						margin-right: 0;
					}
				}

				.active {
					background-color: #ffffff;
				}
			}

			.social-login {
				margin: 10px 0px;
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 15px;
			}

			.join {
				display: flex;
				justify-content: center;
				align-items: center;

				p {
					@include header-span;
					color: $dark-grey1;

					span {
						font-weight: 700;
						text-decoration: underline;
						margin-left: 3px;
						cursor: pointer;
					}
				}
			}
		}
	}
}

.main {
	main {
		display: flex;
		flex-direction: column;
		gap: 30px;

		.menu {
			display: flex;
			flex-direction: column;
			gap: 15px;

			.main-title {
				p {
					@include main-title;
				}
			}

			.menu-ul {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				gap: 10px;

				li {
					width: 30%;
					padding: 10px;
					border-radius: 10px;
					transition: all 0.3s;

					a {
						display: flex;
						flex-direction: column;
						align-items: center;
						gap: 5px;

						.img {
							width: 20px;
							height: 20px;
							border-radius: 50%;

							display: flex;
							justify-content: center;
							align-items: center;
						}

						p {
							@include main-menu;
						}
					}

					&:hover {
						background-color: $main-color;

						a {
							color: $white;
						}
					}
				}
			}
		}

		.member-profile {
			.main-title {
				p {
					@include main-title;
				}
			}
		}
	}
}
