@charset 'utf-8';

// IMPORT SCSS
@import "font.scss";
@import "color.scss";
@import "join.scss";
@import "modal.scss";

// FONT
@font-face {
	font-family: "Pretendard-Regular";
	src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
		format("woff");
	font-weight: 400;
	font-style: normal;
}

// COMMON STYLE
html,
body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	//background-color: $white;
}

* {
	font-family: "Pretendard-Regular", serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 100%;
	margin: 0 auto;
	position: relative;
	padding: 0px 20px;
	padding-bottom: 96px;
}

.bg-light {
	background-color: $main-color-light;
	height: 100vh;
}

.wrap {
	width: 100%;
	position: relative;
}

a {
	text-decoration: none;
	color: $dark-grey3;
}

ul,
ol,
li {
	list-style: none;
}

.hidden {
	visibility: hidden;
}

input,
button {
	border: none;
}

button {
	cursor: pointer;
}

.main-color {
	color: $main-color;
	font-weight: 700;
}

// input text
input[type="text"],
input[type="password"] {
	outline: none;
}

input[type="text"],
input[type="password"] {
	caret-color: $dark-grey3;
	caret-color: $dark-grey3;

	&:focus {
		outline: none;
	}
}

select {
	&:focus {
		outline: none;
	}
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
	color: $placeholder;
}

.pd-10 {
	padding-top: 10px;
}

// BUTTON STYLE
.btn-wrap {
	z-index: 999;
	width: 100%;

	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);

	background-color: #fff;
	padding: 10px 15px 15px 15px;
	display: flex;
	align-items: center;
	justify-content: center;

	button {
		background: $main-color;
		border-radius: 16px;
		color: #fff;
		width: 100%;
		height: 50px;
		border: none;
		cursor: pointer;
		letter-spacing: 1px;

		@include button;
	}
}

// DISABD BUTTON STYLE
.btn-wrap-disabled {
	z-index: 999;
	width: 100%;

	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);

	background-color: #fff;
	padding: 10px 15px 15px 15px;
	display: flex;
	align-items: center;
	justify-content: center;

	button {
		background: $placeholder;
		border-radius: 16px;
		color: #fff;
		width: 100%;
		height: 50px;
		border: none;
		cursor: pointer;
		letter-spacing: 1px;

		@include button;
	}
}

// HEADER STYLE
header {
	width: calc(100% + 40px);
	margin-left: -20px;
	margin-right: -20px;
	position: sticky;
	z-index: 999;
	top: 0;
	background: $white;
	padding: 0px 15px;
	height: 50px;

	.wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 50px;

		.header-left,
		.header-right {
			width: 24px;

			.icon {
				width: 24px;

				a {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 24px;

					span {
						font-size: 18px;
					}
				}
			}
		}

		.img {
			width: 100px;

			a {
				img {
					width: 100%;
					object-fit: contain;
				}
			}
		}

		.header-center {
			.txt {
				p {
					@include header;
					word-break: keep-all;
				}
			}
		}
	}
}

// SEARCH-BAR STYLE
.search-bar {
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;

	input {
		width: 100%;
		border-radius: 50px;
		padding: 12px 45px 12px 45px;
		font-size: 12px;
		font-weight: 500;
		background-color: #fafafa;

		&::placeholder {
			color: $placeholder;
		}
	}

	.searchImage {
		width: 16px;
		position: absolute;
		left: 15px;
	}

	.deleteImage {
		width: 14px;
		position: absolute;
		right: 15px;
		cursor: pointer;
	}
}

// LOGIN-FORM STYLE
.login-form {
	display: flex;
	flex-direction: column;
	gap: 30px;

	.login-input {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 10px;

		p {
			@include login-title;

			span {
				@include login-essential;
			}
		}

		input[type="text"],
		select {
			border: 1px solid $placeholder;
			width: 100%;
			padding: 10px 15px 10px 15px;
			border-radius: 10px;
			outline: none;
			caret-color: $main-color;
			color: $dark-grey1;

			&::placeholder {
				font-size: 12px;
				color: $placeholder;
			}

			&:focus {
				outline: none;
			}
		}

		#custom-button {
			padding: 10px 15px 10px 15px;
			color: white;
			background-color: $main-color;
			border: 1px solid $main-color;
			border-radius: 10px;
			cursor: pointer;

			&:hover {
				background-color: #0056b3;
			}
		}

		#custom-text {
			font-size: 12px;
			color: $dark-grey1;
		}

		button {
			padding: 10px 15px;
			border-radius: 10px;

			@include login-toggle;

			color: $main-color;
			border: 1px solid $main-color;
			background-color: $white;
			cursor: pointer;
		}
	}

	.login-option {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: -25px;

		.toggle {
			display: flex;
			align-items: center;
			gap: 3px;

			input {
				display: none;
			}

			.toggle-switch {
				width: 30px; /* 너비를 30px로 조정 */
				height: 15px; /* 높이 조정 */
				display: block;
				position: relative;
				border-radius: 7.5px; /* 둥근 모서리 반경 조정 */
				background-color: #fff;
				box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.15);
				cursor: pointer;

				margin: 10px 5px 10px 5px; /* 마진 조정 */

				.toggle-button {
					width: 10px; /* 버튼의 너비 조정 */
					height: 10px; /* 버튼의 높이 조정 */
					position: absolute;
					top: 50%;
					left: 2px; /* 초기 위치 조정 */
					transform: translateY(-50%);
					border-radius: 50%;
					background: #f03d3d;
					transition: all 0.2s ease-in;
				}

				transition: all 0.2s ease-in;
			}

			input[type="checkbox"]:checked ~ .toggle-switch {
				background: #f03d3d;

				.toggle-button {
					left: calc(100% - 14px); /* 체크 시 버튼의 위치 조정 */
					background: #fff;
				}
			}

			span {
				font-weight: 400;
				font-size: 12px;
				color: $dark-grey2;
				letter-spacing: 0.5px;
			}
		}

		.forgot-pw {
			p {
				font-weight: 500;
				font-size: 12px;
				color: $main-color;
				letter-spacing: 0.5px;
			}
		}
	}

	.login-button {
		width: 100%;

		button {
			width: 100%;
			background-color: $main-color;
			padding: 15px;
			border-radius: 50px;
			color: $white;
		}
	}
}

// NAV TAB-BAR
ul.nav {
	z-index: 999;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);

	display: flex;
	justify-content: space-between;

	width: 100%;
	height: 96px;

	background-color: #fff;
	border-top: 1px solid #dfdfdf;

	border-top-left-radius: 16px;
	border-top-right-radius: 16px;

	padding: 10px 15px 30px 15px;

	li {
		padding: 10px 20px;

		a {
			display: block;
			width: 100%;
			height: 100%;
			text-align: center;

			display: flex;
			flex-direction: column;
			align-content: center;
			justify-content: center;
			gap: 4px;

			p {
				@include nav;
			}

			i {
				span {
					color: $grey4;
					font-size: 24px;
				}
			}
		}
	}

	.on {
		background-color: $main-color;
		border-radius: 16px;

		p {
			color: $white;
		}

		i {
			span {
				color: $white;
			}
		}
	}
}

.swiper1 {
	width: calc(100% + 40px);
	margin-left: -20px;
	margin-right: -20px;
	height: 170px;
	position: relative;

	swiper-slide {
		text-align: center;
		font-size: 18px;
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;

		.img {
			width: 100%;
			height: auto;
			object-fit: contain;

			img {
				width: 100%;
				height: auto;
				object-fit: contain;
			}
		}
	}
}

.swiper-wrap {
	display: flex;
	align-items: center;
	background-color: $main-color-dark;
	width: calc(100% + 40px);
	margin-left: -15px;
	margin-right: -15px;

	padding-left: 10px;

	p {
		@include main-swiper2-a;
		font-weight: 700;
		width: 15%;
	}

	.swiper2 {
		width: 85%;
		height: 50px;
		background-color: $main-color-dark;
		display: flex;
		justify-content: center;

		swiper-slide {
			display: flex;
			align-items: center;
			text-align: left;
			width: 100%;

			a {
				@include main-swiper2-a;
				display: block;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				text-align: left;
				width: 97%;
			}
		}
	}
}

.login {
	background-color: $main-color;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	padding-bottom: 0px;

	header {
		background-color: transparent;
		position: relative;

		width: 100%;
		padding: 0px;

		> .wrap {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			height: 50px;

			.header-left,
			.header-right {
				width: 24px;

				.icon {
					width: 24px;

					a {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 24px;

						span {
							font-size: 15px;
							color: $white;
						}
					}
				}
			}

			.header-center {
				.txt {
					p {
						@include header;
						word-break: keep-all;
					}
				}
			}
		}
	}

	.wrap {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 30px;

		.login-txt {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			div {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 5px;
				margin-bottom: 15px;

				p {
					@include header;
					font-size: 18px;
					color: $white;
				}
			}

			span {
				@include header-span;
			}
		}

		main {
			width: calc(100% + 40px);
			margin-left: -20px;
			margin-right: -20px;

			padding: 30px 15px;
			background-color: $white;
			border-top-left-radius: 30px;
			border-top-right-radius: 30px;
			display: flex;
			flex-direction: column;
			gap: 30px;
			padding-bottom: 50px;

			.member {
				background-color: $bg;
				padding: 5px;
				border-radius: 10px;

				display: flex;
				align-items: center;

				button {
					width: 100%;
					background-color: $bg;
					border-radius: 10px;
					padding: 9px 30px;
					border: none;
					cursor: pointer;
					transition: background-color 0.3s ease,
						margin-left 0.3s ease;
					margin-right: 10px;

					@include header-span;
					color: $dark-grey1;

					&:first-child {
						background-color: #ffffff;
					}

					&:last-child {
						margin-right: 0;
					}
				}

				.active {
					background-color: #ffffff;
				}
			}

			.social-login {
				margin: 10px 0px;
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 15px;
			}

			.join {
				display: flex;
				justify-content: center;
				align-items: center;

				p {
					@include header-span;
					color: $dark-grey1;

					span {
						font-weight: 700;
						text-decoration: underline;
						margin-left: 3px;
						cursor: pointer;
					}
				}
			}
		}
	}
}

main {
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding-bottom: 30px;

	.menu {
		display: flex;
		flex-direction: column;
		gap: 15px;
		align-items: flex-end;

		.main-title {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;

			p {
				@include main-title;
				color: $dark-grey3;

				&:nth-child(2) {
					font-size: 10px;
					color: $grey4;
					font-weight: 500;
				}
			}
		}

		.menu-ul {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			gap: 10px;

			li {
				width: 30%;
				padding: 10px;
				border-radius: 10px;
				transition: all 0.3s;
				cursor: pointer;

				a {
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 15px;
					color: $dark-grey2;

					.img {
						width: 50px;
						height: 50px;

						display: flex;
						justify-content: center;
						align-items: center;

						border-radius: 10px;

						img {
							width: 30px;
							height: 30px;
						}
					}

					p {
						@include main-menu;
					}
				}

				&:hover {
					background-color: $main-color;

					a {
						color: $white;
					}
				}

				&:nth-child(1) {
					a {
						.img {
							background-color: $main-li1;
						}
					}
				}

				&:nth-child(2) {
					a {
						.img {
							background-color: $main-li3;
						}
					}
				}

				&:nth-child(3) {
					a {
						.img {
							background-color: $main-li4;
						}
					}
				}

				&:nth-child(4) {
					a {
						.img {
							background-color: $main-li5;
						}
					}
				}

				&:nth-child(5) {
					a {
						.img {
							background-color: $main-li7;
						}
					}
				}

				&:nth-child(6) {
					a {
						.img {
							background-color: $main-li8;
						}
					}
				}
			}
		}

		.menu-ul2 {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			gap: 10px;

			li {
				width: 30%;
				border-radius: 50px;
				transition: all 0.3s;
				cursor: pointer;
				padding: 5px 10px;

				border: 1px solid #cccccc;

				a {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 10px;
					color: $dark-grey2;

					.img {
						width: 25px;

						display: flex;
						justify-content: center;
						align-items: center;

						img {
							width: 25px;
							height: 25px;
						}
					}

					p {
						@include main-menu;
					}
				}

				&:hover {
					background-color: $main-color;

					a {
						color: $white;
					}
				}
			}
		}

		.recruitment-table-container {
			.recruitment-table {
				width: 100%;
				border-collapse: collapse;
				table-layout: fixed; // 테이블의 레이아웃을 고정

				thead tr th,
				tbody tr td {
					padding: 8px; // 모든 테이블 셀에 패딩 적용
				}

				thead {
					tr {
						th {
							@include main-table-title;

							&:nth-child(1) {
								width: 10%;
							} // 순번
							&:nth-child(2) {
								width: 65%;
							} // 제목
							&:nth-child(3) {
								width: 25%;
							} // 업로드날짜
						}
					}
				}

				tbody {
					tr {
						td {
							@include main-table-content;

							&:nth-child(1) {
								width: 10%;
								text-align: center;
							} // 순번

							&:nth-child(2) {
								// 제목
								width: 65%;
								padding: 0px;

								.ellipsis {
									width: 100%;
									white-space: nowrap;
									overflow: hidden;
									text-overflow: ellipsis;
									display: block;
									text-align: left;
								}
							}

							&:nth-child(3) {
								padding: 0px;
								width: 25%;
							} // 업로드날짜
						}

						&:nth-child(odd) {
							background-color: #f9f9f9; // 홀수 번째 행의 배경색 설정
						}
					}
				}
			}
		}

		.menu-ul3 {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 10px;

			li {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 10px;
				height: 70px;

				.img {
					width: 50%;
					height: 100%;
					background-color: $bg;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}

				.txt {
					width: 50%;
					display: flex;
					flex-direction: column;
					gap: 10px;

					p {
						&:nth-child(1) {
							@include main-ul3-title;
						}

						&:nth-child(2) {
							@include main-ul3-date;
						}
					}
				}
			}
		}

		.more-btn {
			padding-top: 10px;
			border: none;
			cursor: pointer;

			transition: background-color 0.3s;
			border-radius: 10px;

			display: flex;
			justify-content: center;
			align-items: center;
			gap: 3px;
			background-color: transparent;
			color: $dark-grey3;

			p {
				@include main-table-btn;
				line-height: 12px;
			}

			span {
				font-size: 18px;
				line-height: 12px;
			}

			&:hover {
				background-color: darken($main-color, 10%);
			}
		}

		.company-info {
			width: 100%;
			padding: 15px;
			border-radius: 15px;
			border: 1px solid $placeholder;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 10px;

			p {
				@include main-company-info;
			}

			.company-info-btn {
				padding: 10px 15px;
				border-radius: 10px;
				margin-top: 15px;
				background-color: $main-color;

				@include main-company-info-btn;
				color: $white;
			}
		}

		.main-content {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			gap: 10px;
			width: 100%;

			ul {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;

				li {
					width: 100%;
					padding: 10px 5px;
					background-color: $white;

					@include search-li;

					display: flex;
					align-items: center;
					gap: 10px;

					span {
						border: 1px solid $main-color;
						width: 15px;
						height: 15px;
						display: flex;
						justify-content: center;
						align-items: center;
						background-color: $main-color;
						color: $white;

						@include search-li;
						font-size: 11px;
					}
				}
			}
		}

		.search-history {
			display: flex;
			gap: 15px;

			width: 100%;

			padding-top: 10px;

			.search-history-content {
				display: flex;
				align-items: center;
				justify-content: space-between;
				position: relative;

				border-radius: 50px;

				padding: 10px 30px 10px 20px;

				background-color: $search-history;

				p {
					@include search-history;
					color: $grey4;
				}

				span {
					font-size: 14px;
					color: $placeholder;
					position: absolute;
					right: 10px;
				}
			}
		}
	}

	.search {
		display: flex;
		flex-direction: column;
		gap: 15px;

		margin-top: 50px;

		.main-title {
			@include main-title-search;
		}
	}

	.member-profile {
		.main-title {
			p {
				@include main-title;
			}
		}
	}

	.notifications {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-top: -15px;

		.tabs {
			width: calc(100% + 40px);
			margin-left: -20px;
			margin-right: -20px;
			padding: 15px 15px 0px;
			display: flex;
			justify-content: space-between;
			align-items: center;

			background-color: $white;
			border-bottom: 2px solid #eee;

			li {
				padding: 10px 15px;
				cursor: pointer;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
				@include alarm-li;

				&.active {
					background-color: $main-color-light;
				}
			}
		}

		.tab-content {
			display: flex;
			flex-direction: column;
			gap: 10px;

			.content {
				width: 100%;
				display: none;
				background-color: $search-history;
				padding: 15px;
				border-radius: 15px;

				&.active {
					display: flex;
					justify-content: space-between;
					align-items: center;
					gap: 15px;

					img {
						width: 60px;
						height: 60px;
						object-fit: contain;
						border-radius: 50%;
					}

					.txt {
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						gap: 10px;

						p {
							@include alarm-content-txt;

							&:nth-child(2) {
								color: $grey4;
								font-size: 10px;
							}
						}
					}

					span {
						font-size: 20px;
						color: $placeholder;
					}
				}
			}
		}
	}
}

// 공연 예술인 프로필 리스트 페이지
.profile-list {
	background-color: $main-color-light;

	.wrap {
		.profile-list-main {
			gap: 15px;

			.category {
				width: calc(100% + 40px);
				margin-right: -20px;
				margin-left: -20px;
				background-color: $white;
				padding: 5px 0px;

				position: -webkit-sticky; /* Safari */
				position: sticky;
				top: 50px; /* 헤더의 높이를 고려한 값으로 조정 */
				z-index: 1000; /* 다른 콘텐츠 위에 표시되도록 z-index 설정 */
				background: white; /* 배경색을 설정하여 내용이 겹치지 않도록 함 */

				border-bottom: 1px solid #ccc;

				swiper-container {
					width: 100%;
					padding: 0px 15px;

					swiper-slide {
						width: auto;
						padding: 10px;
						border-radius: 10px;
						display: flex;
						justify-content: center;
						align-items: center;
						gap: 5px;

						span {
							font-size: 18px;
						}

						p {
							@include profile-add;
						}
					}

					.on {
						background-color: #f6f4fc;

						span {
							color: #4424a8;
						}

						p {
							color: #4424a8;
							font-weight: 700;
						}
					}
				}
			}

			form {
				display: flex;
				flex-direction: column;
				gap: 10px;

				.search-bar-option {
					display: flex;
					align-items: center;
					gap: 10px;

					select {
						padding: 8px;
						@include profile-add;
						border-radius: 10px;
						border: 1px solid transparent;
					}

					.search-bar {
						input {
							border-radius: 10px;
							padding: 10px 15px;
						}
					}
				}

				.search-option {
					width: 100%;
					display: flex;
					justify-content: space-between;
					align-items: center;

					button {
						padding: 8px 15px;
						border-radius: 10px;
						background-color: $main-color;
						color: $white;
						cursor: pointer;

						@include profile-add;

						&:hover {
							background-color: $white;
							color: $main-color;
							border: 1px solid $main-color;
						}
					}

					.filter {
						select {
							padding: 8% 10px;
							border-radius: 10px;
							border: 1px solid transparent;

							@include profile-add;
						}
					}
				}
			}

			.profile-wrap {
				display: flex;
				flex-direction: column;
				gap: 10px;

				.profile {
					display: flex;
					flex-direction: column;
					gap: 15px;
					align-items: center;
					background-color: $white;
					border-radius: 10px;
					padding: 15px;

					border: 1px solid $bg;

					cursor: pointer;

					.title {
						display: flex;
						justify-content: space-between;
						width: 100%;
						align-items: center;

						p {
							@include profile-title;
						}

						.review {
							display: flex;
							align-items: center;
							gap: 5px;

							span {
								font-size: 16px;
								line-height: 18px;
							}

							p {
								@include profile-title;
							}
						}
					}

					.content {
						width: 100%;
						display: flex;
						gap: 15px;

						.content-l {
							display: flex;
							flex-direction: column;
							gap: 10px;
							align-items: center;

							.img {
								width: 70px;
								height: 70px;
								border-radius: 50%;
								overflow: hidden;
								display: flex;
								justify-content: center;
								align-items: center;

								img {
									border-radius: 50%;
									width: 100%;
									height: 100%;
									object-fit: cover;
								}
							}

							.name {
								@include profile-p;
								font-weight: 700;
								font-size: 12px;
							}

							.location {
								margin-top: -8px;
								@include profile-p;
								font-size: 10px;

								display: flex;
								align-items: center;
								gap: 0px;

								span {
									font-size: 14px;
								}
							}
						}

						.txt {
							flex-grow: 1;

							display: flex;
							flex-direction: column;
							justify-content: center;
							gap: 5px;

							p {
								@include profile-p;
							}

							.chat {
								display: flex;
								justify-content: flex-end;
							}
						}
					}
				}
			}
		}
	}
}

// 공연 예술인 프로필 등록 페이지 -> 임시 저장 버튼
.draft {
	width: calc(100% + 40px);
	margin-left: -20px;
	margin-right: -20px;
	padding: 0px 20px;
	display: flex;
	justify-content: flex-end;
	padding: 15px 20px;
	gap: 5px;

	border-bottom: 1px solid #ccc;

	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 50px; /* 헤더의 높이를 고려한 값으로 조정 */
	z-index: 1000; /* 다른 콘텐츠 위에 표시되도록 z-index 설정 */
	background: white; /* 배경색을 설정하여 내용이 겹치지 않도록 함 */

	button {
		padding: 10px;
		border-radius: 10px;
		background-color: $main-color;
		border: 1px solid $main-color;
		color: $white;

		@include search-history;

		cursor: pointer;

		&:nth-child(1) {
			background-color: $main-color-light;
			color: $main-color;
		}

		&:nth-child(2) {
			padding: 10px 20px;
		}
	}
}

// 공연 예술인 프로필 등록 페이지
.profile-add {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: calc(100% + 40px);
	margin-right: -20px;
	margin-left: -20px;

	.profile-img {
		width: 100%;
		height: 350px;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;

		input[type="file"] {
			width: 100%;
			height: 100%;

			position: absolute;
			top: 0px; // 상단에서 얼마나 떨어뜨릴지 설정
			left: 50%; // 왼쪽에서 50% 위치에 배치 (가운데 정렬 효과)
			transform: translateX(
				-50%
			); // 왼쪽으로 50% 이동하여 정확히 가운데 오도록 조정

			cursor: pointer; // 마우스 오버 시 커서 변경
			opacity: 0; // 버튼 숨김, 여전히 클릭 가능
		}

		.image-preview {
			width: 100%;
			height: 100%;

			border-top: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
			background-color: #efefef;

			display: flex;
			justify-content: center;
			align-items: center;
			overflow: hidden;

			font-weight: 500;
			font-size: 12px;

			img {
				width: 100%;
				object-fit: contain;
			}
		}
	}

	.profile-sentence {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: -20px;
		padding: 0px 20px;

		p {
			@include profile-add-title;
			width: 100%;

			display: flex;
			justify-content: center;
			align-items: center;

			input {
				width: 75%;
				padding: 5px 10px;
				@include profile-add-title;
				border-bottom: 1px solid #ccc;
			}

			#charCount {
				text-align: right;
				margin-left: 10px;

				font-weight: 500;
				font-size: 10px;
			}
		}
	}

	.profile-content {
		width: 100%;
		padding: 0px 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;

		.profile-info {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 20px;
			width: 100%;

			.profile-add-form {
				width: 100%;
				display: flex;
				align-items: center;
				gap: 20px;

				p {
					text-align: right;
					@include profile-add-form;
					flex: 1 1 20%;
				}

				input,
				select {
					flex: 1 1 80%;
					padding: 5px 10px;
					border: none;
					border-bottom: 1px solid #ccc;
					@include profile-add-form;
					font-weight: 500;
				}
			}
		}

		.profile-location {
			width: 100%;
			display: flex;
			gap: 20px;

			p {
				flex: 1 1 20%;
				text-align: right;
				@include profile-add-form;
			}

			.location-wrap {
				flex: 1 1 80%;
				display: flex;
				flex-wrap: wrap;
				gap: 10px;

				button {
					padding: 10px 15px;
					border-radius: 10px;
					background-color: $main-color-light;
					color: $dark-grey3;
					@include profile-add-form-button;
				}
			}
		}

		.profile-edu,
		.profile-history,
		.profile-awards {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 20px;
			align-items: flex-end;

			.profile-edu-wrap,
			.profile-history-wrap,
			.profile-awards-wrap {
				width: 100%;
				display: flex;
				align-items: center;
				gap: 20px;

				p {
					width: 20%;
					text-align: right;
					@include profile-add-form;
				}

				.input-wrap {
					width: 80%;
					display: flex;
					flex-wrap: wrap;
					gap: 10px;
					@include profile-add-form;

					input {
						border-bottom: 1px solid #ccc;
						@include profile-add-form;

						&:nth-child(1),
						&:nth-child(2) {
							width: 10%;
						}

						&:nth-child(3) {
							width: 60%;
							margin-left: 10px;
						}
					}
				}
			}

			#addEdu,
			#addHistory,
			#addAwards,
			#addQualification {
				padding: 8px;
				border-radius: 8px;
				background-color: $main-color-light;
				color: $dark-grey3;
				@include profile-add-form-button;
			}
		}

		.introduce {
			width: 100%;
			display: flex;
			align-items: center;
			gap: 20px;

			p {
				text-align: right;
				@include profile-add-form;
				width: 20%;
			}

			.textarea-container {
				width: 80%;
				height: 150px;
				position: relative;

				#detailIntroduction {
					width: 100%;
					height: 150px;
					@include profile-add-title;
					font-weight: 500;
					font-size: 12px;
					border: 1px solid #ccc;
					padding: 10px;

					&:focus {
						border: 1px solid #ccc;
						outline: none;
					}
				}

				#charCount1 {
					position: absolute;
					bottom: 5px;
					right: 10px;

					background: rgba(255, 255, 255, 0.7);

					@include profile-add-title;
					text-align: right;
					margin-left: 10px;

					font-weight: 500;
					font-size: 10px;
					padding: 0px;
				}
			}
		}

		.qualification {
			width: 100%;

			display: flex;
			flex-direction: column;
			gap: 20px;
			align-items: flex-end;

			.qualification-wrap {
				width: 100%;
				display: flex;
				gap: 20px;

				p {
					@include profile-add-form;
					flex: 1 1 20%;
					text-align: right;
				}

				.input-wrap {
					display: flex;
					flex-direction: column;
					flex: 1 1 80%;
					gap: 10px;

					p {
						width: 100%;
						text-align: left;
						font-weight: 500;
					}

					input {
						width: 100%;
						padding: 5px 10px;
						border: none;
						border-bottom: 1px solid #ccc;
						@include profile-add-form;
						font-weight: 500;
					}

					.custom-file-upload {
						border: none;
						border-bottom: 1px solid #ccc;
						display: inline-block;
						padding: 5px 10px;
						cursor: pointer;
						margin-top: 10px;
						@include profile-add-form;
						font-weight: 500;
					}
				}
			}

			button {
				padding: 10px 15px;
				border-radius: 10px;
				background-color: $main-color-light;
				color: $dark-grey3;
				@include profile-add-form-button;
			}
		}
	}
}

// 공연 예술인 프로필 등록 페이지 -> 하단 임시저장|수정/저장|삭제 버튼
.profile-add-btn-wrap {
	width: calc(100% + 40px);
	margin-right: -20px;
	margin-left: -20px;

	display: flex;
	justify-content: center;
	gap: 10px;
	padding: 10px 20px;

	position: -webkit-sticky; /* Safari */
	position: sticky;
	bottom: 96px; /* 헤더의 높이를 고려한 값으로 조정 */
	z-index: 1000; /* 다른 콘텐츠 위에 표시되도록 z-index 설정 */
	background: white; /* 배경색을 설정하여 내용이 겹치지 않도록 함 */

	button {
		padding: 15px 30px;
		border-radius: 10px;
		background-color: $main-color;
		border: 1px solid $main-color;
		color: $white;
		width: 50%;

		@include search-history;

		cursor: pointer;

		&:nth-child(1),
		&:nth-child(3) {
			background-color: $main-color-light;
			color: $main-color;
		}
	}
}

// 임시 저장 된 프로필 페이지
.profile-draft {
	gap: 20px;
	padding-bottom: 0px;
	margin-top: 20px;

	.profile-draft-wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: $white;
		border-radius: 10px;
		padding: 10px;

		.img {
			width: 50%;
			height: 100px;
			background-color: #eee;
			border-radius: 10px;

			img {
				border-radius: 10px;

				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		.content {
			width: 80%;
			display: flex;
			flex-direction: column;
			gap: 10px;

			.major,
			.save-date {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0px 10px;

				p {
					@include profile-p;
				}

				span {
					font-size: 18px;
					line-height: 22px;
				}

				.button {
					button {
						@include search-history;
						cursor: pointer;
						background-color: $white;
						border: 1px solid $main-color;
						padding: 5px 15px;
						border-radius: 5px;

						&:hover,
						&:active {
							background-color: $main-color;
							color: $white;
						}
					}
				}
			}
		}
	}
}

// 공연 예술인 프로필 리스트
.container-profile {
	width: 100%;
	margin: 0 auto;
	position: relative;
	padding-bottom: 96px;

	.profile-view-header {
		background-color: transparent;
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
		padding: 20px 20px;

		.wrap {
			.header-left,
			.header-right {
				.icon {
					a {
						span {
							font-size: 21px;
							border-radius: 50%;
							padding: 10px;
							background-color: rgba(255, 255, 255, 0.4);
						}

						.heart-color {
							color: #f03d3d;
						}
					}
				}
			}
		}
	}

	.profile-view-wrap {
		position: absolute;
		top: 0;
		width: 100%;

		.img {
			width: 100%;
			height: 480px;
			display: flex;
			justify-content: center;
			align-items: center;

			img {
				width: 100%;
				height: 100%;
			}
		}

		main {
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
			position: absolute;
			top: 460px;
			width: 100%;
			background-color: $white;

			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 10px;

			padding-top: 20px;

			.border {
				border: 1px solid #ccc;
				width: 25%;
				height: 1px;
			}

			.sentence {
				width: 100%;
				padding: 20px 0px;

				p {
					text-align: center;
					@include profile-view-title;
				}
			}

			.profile-menu {
				width: 100%;
				border-top: 1px solid #ccc;
				border-bottom: 1px solid #ccc;

				display: flex;
				align-items: center;
				justify-content: center;
				gap: 50px;

				.menu-general,
				.menu-quali,
				.menu-review {
					padding: 10px;

					p {
						@include profile-menu;
					}

					&:active,
					&:focus {
						p {
							text-decoration: underline;
						}
					}
				}
			}

			.general {
				width: 100%;
				display: flex;
				flex-direction: column;
				gap: 10px;

				.general-big-title {
					padding: 20px;
					padding-bottom: 10px;

					p {
						@include general-big-title;
					}
				}

				.general-info,
				.quali-info {
					padding: 0px 20px;
					display: flex;
					align-items: center;
					gap: 10px;

					.general-title {
						width: 30%;
						text-align: right;
						@include general-title;
					}

					.general-content {
						width: 70%;
						@include general-content;
					}

					.general-introduce {
						width: 100%;
						@include general-content;
						padding: 0px 20px;
					}
				}
			}

			.quali {
				width: 100%;
				display: flex;
				flex-direction: column;
				padding-right: 30px;
				padding-left: 30px;

				.quali-wrap {
					border: 1px solid #ccc;
					padding: 20px;
					border-radius: 10px;

					.quali-info {
						padding: 0px 20px;
						display: flex;
						align-items: center;
						gap: 10px;

						.quali-title {
							width: 30%;
							text-align: right;
							@include general-title;
						}

						.quali-content {
							width: 70%;
							@include general-content;
						}
					}
				}
			}

			.review {
				width: 100%;
				padding: 0px 20px;
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				gap: 20px;

				.review-grade {
					padding: 10px;
					border-radius: 10px;
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 30px;
					//box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1);
					width: 100%;
					margin-top: 20px;

					.grade {
						p {
							@include review-grade;
						}
					}

					.star-rating {
						font-size: 18px;
						color: #ffd700;

						p {
							@include review-based;
							margin-top: 5px;
						}
					}
				}

				.button {
					button {
						padding: 10px 20px;
						border-radius: 10px;
						background-color: $main-color;
						border: 1px solid $main-color;
						color: $white;

						@include search-history;

						cursor: pointer;
					}
				}

				.review-content {
					width: 100%;
					box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1);

					display: flex;
					flex-direction: column;
					gap: 10px;

					padding: 10px 20px;

					border-radius: 10px;

					.review-profile {
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: space-between;

						.profile {
							display: flex;
							align-items: center;
							gap: 15px;

							img {
								width: 60px;
								height: 60px;
								object-fit: cover;
								border-radius: 50%;
							}

							.txt {
								display: flex;
								flex-direction: column;
								align-items: flex-start;

								.profile-name {
									@include profile-name;
								}

								.review-date {
									@include review-based;
								}
							}
						}

						.star {
							font-size: 12px;
							color: #ffd700;
						}
					}

					.review-txt {
						display: flex;
						flex-direction: column;
						gap: 10px;
						width: 100%;

						.title {
							@include profile-txt-title;

							span {
								@include profile-txt-title;
							}
						}

						p {
							@include profile-txt;
						}
					}

					.report {
						display: flex;
						justify-content: flex-end;

						button {
							background-color: transparent;

							@include review-based;

							cursor: pointer;
						}
					}
				}
			}
		}
	}
}

// 공연 예술인 모집 진입 페이지
.recruitment-list {
	.wrap {
		.recruitment-list-main {
			gap: 15px;
			padding-top: 30px;
			padding-bottom: 0px;

			.recruitment-list-txt {
				margin-bottom: 10px;
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 3px;

				p {
					@include recruitment-list-txt;

					span {
						font-size: 18px;
					}

					&:nth-child(1) {
						font-size: 16px;
						font-weight: 700;
						color: $dark-grey3;
						margin-bottom: 10px;
					}

					.main-color {
						font-size: 13px;
					}
				}
			}

			.two-depth-menu {
				.menu-div {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					align-items: center;

					> div {
						width: 48%;

						display: flex;
						flex-direction: column;
						gap: 8px;
						align-items: center;
						margin-bottom: 15px;
						border-radius: 10px;

						img {
							width: 100%;
							height: 100px;
							object-fit: cover;
							border-radius: 10px;
						}

						p {
							@include two-depth-menu;
						}
					}
				}
			}
		}
	}
}

// 공연 예술인 모집 리스트 페이지
.recruitment-result {
	background-color: #f6f4fc;

	.wrap {
		.recruitment-result-main {
			gap: 15px;

			.category {
				width: calc(100% + 40px);
				margin-right: -20px;
				margin-left: -20px;
				background-color: $white;
				padding: 5px 0px;

				position: -webkit-sticky; /* Safari */
				position: sticky;
				top: 50px; /* 헤더의 높이를 고려한 값으로 조정 */
				z-index: 1000; /* 다른 콘텐츠 위에 표시되도록 z-index 설정 */
				background: white; /* 배경색을 설정하여 내용이 겹치지 않도록 함 */

				border-bottom: 1px solid #ccc;

				swiper-container {
					width: 100%;
					padding: 0px 15px;

					swiper-slide {
						width: auto;
						padding: 10px;
						border-radius: 10px;
						display: flex;
						justify-content: center;
						align-items: center;
						gap: 5px;

						span {
							font-size: 18px;
						}

						p {
							@include profile-add;
						}
					}

					.on {
						background-color: #f6f4fc;

						span {
							color: #4424a8;
						}

						p {
							color: #4424a8;
							font-weight: 700;
						}
					}
				}
			}

			form {
				display: flex;
				flex-direction: column;
				gap: 10px;

				.search-bar-option {
					display: flex;
					align-items: center;
					gap: 10px;

					select {
						padding: 10px;
						@include profile-add;
						border-radius: 10px;
						border: 1px solid transparent;
					}

					.search-bar {
						input {
							border-radius: 10px;
							padding: 10px 15px;
						}
					}
				}

				.search-option {
					width: 100%;
					display: flex;
					justify-content: space-between;
					align-items: center;

					button {
						padding: 8px 15px;
						border-radius: 10px;
						background-color: $main-color;
						color: $white;
						cursor: pointer;

						@include profile-add;

						&:hover {
							background-color: $white;
							color: $main-color;
							border: 1px solid $main-color;
						}
					}

					.filter {
						select {
							padding: 8% 10px;
							border-radius: 10px;
							border: 1px solid transparent;

							@include profile-add;
						}
					}
				}
			}

			.recruitment-result-wrap {
				display: flex;
				flex-direction: column;
				gap: 10px;

				.recruitment {
					display: flex;
					flex-direction: column;
					gap: 10px;
					align-items: center;
					background-color: $white;
					border-radius: 10px;
					padding: 15px;

					border: 1px solid $bg;

					cursor: pointer;

					.title {
						display: flex;
						width: 100%;
						align-items: center;
						gap: 10px;

						p {
							@include profile-title;
						}

						.badge {
							padding: 6px 14px;
							background-color: $red;
							color: $white;
							border-radius: 8px;
							width: 70px;
							display: flex;
							justify-content: center;
							align-items: center;

							p {
								font-size: 12px;
								font-weight: 500;
							}
						}

						.badge-com {
							padding: 6px 14px;
							background-color: $green;
							color: $white;
							border-radius: 8px;
							width: 70px;
							display: flex;
							justify-content: center;
							align-items: center;

							p {
								font-size: 12px;
								font-weight: 500;
							}
						}
					}

					.content {
						width: 100%;
						display: flex;
						gap: 15px;

						.content-l {
							display: flex;
							flex-direction: column;
							gap: 10px;
							align-items: center;
							justify-content: center;

							.img {
								width: 70px;
								height: 70px;
								border-radius: 50%;
								overflow: hidden;
								display: flex;
								justify-content: center;
								align-items: center;

								img {
									border-radius: 50%;
									width: 100%;
									height: 100%;
									object-fit: cover;
								}
							}
						}

						.txt {
							flex-grow: 1;

							display: flex;
							flex-direction: column;
							justify-content: center;
							gap: 7px;

							> div {
								display: flex;
								align-items: center;
								gap: 10px;
							}

							p {
								@include profile-p;
							}

							.location {
								@include profile-p;
								font-size: 10px;

								display: flex;
								align-items: center;
								gap: 3px;

								span {
									font-size: 14px;
								}
							}
						}
					}

					.date {
						width: 100%;
						display: flex;
						justify-content: flex-end;
						align-items: center;
						gap: 10px;

						p {
							@include profile-p;
							color: $grey4;
						}
					}
				}
			}
		}
	}
}
