<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=360, user-scalable=no">
    <title>Art Stage</title>


    <!-- CSS 연결 -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- CSS 초기화 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />


    <!-- Google Material Icons -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />



    <!-- swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

    <!-- Script 연결 -->
    <script defer src="./js/swiper.js"></script>
    <script defer src="./js/main.js"></script>

</head>

<body>

    <div class="container profile-list">

        <header>
            <div class="wrap">

                <div class="header-left logo">
                    <div class="icon">
                        <a href="#">
                            <img src="../img/logo/logo-full.png" alt="로고">
                        </a>
                    </div>
                </div>

                <div class="header-center">
                    <div class="txt">
                        <p></p>
                    </div>
                </div>

                <div class="header-right">
                </div>

            </div>
        </header>

        <div class="wrap">

            <main class="profile-list-main">

                <swiper-container class="mySwiper swiper1" pagination="true" pagination-type="fraction">

                    <swiper-slide>
                        <div class="img">
                            <img src="../img/img/visual-slide03.png" alt="슬라이드3">
                        </div>
                    </swiper-slide>
                    <swiper-slide>
                        <div class="img">
                            <img src="./img/img/visual-slide02.jpg" alt="슬라이드2">
                        </div>
                    </swiper-slide>
                    <swiper-slide>
                        <div class="img">
                            <img src="./img/img/visual-slide01.jpg" alt="슬라이드1">
                        </div>
                    </swiper-slide>
                    <swiper-slide>
                        <div class="img">
                            <img src="./img/img/visual-slide02.jpg" alt="슬라이드2">
                        </div>
                    </swiper-slide>
                    <swiper-slide>
                        <div class="img">
                            <img src="./img/img/visual-slide01.jpg" alt="슬라이드1">
                        </div>
                    </swiper-slide>
                    <swiper-slide>
                        <div class="img">
                            <img src="./img/img/visual-slide03.png" alt="슬라이드3">
                        </div>
                    </swiper-slide>
                    <swiper-slide>
                        <div class="img">
                            <img src="./img/img/visual-slide01.jpg" alt="슬라이드1">
                        </div>
                    </swiper-slide>
                    <swiper-slide>
                        <div class="img">
                            <img src="./img/img/visual-slide02.jpg" alt="슬라이드2">
                        </div>
                    </swiper-slide>
                    <swiper-slide>
                        <div class="img">
                            <img src="./img/img/visual-slide03.png" alt="슬라이드3">
                        </div>
                    </swiper-slide>
                    <swiper-slide>
                        <div class="img">
                            <img src="./img/img/visual-slide01.jpg" alt="슬라이드1">
                        </div>
                    </swiper-slide>
                </swiper-container>


                <div class="category">
                    <swiper-container class="mySwiper profileSwiper" space-between="10" slides-per-view="auto">
                        <swiper-slide onclick="filterByField('전체')">
                            <img src="../img/icon/all.svg" alt="전체">
                            <p>전체</p>
                        </swiper-slide>
                        <swiper-slide onclick="filterByField('연극/뮤지컬')">
                            <img src="../img/icon/play.svg" alt="연극/뮤지컬">
                            <p>연극/뮤지컬</p>
                        </swiper-slide>
                        <swiper-slide onclick="filterByField('무용')">
                            <img src="../img/icon/dance.svg" alt="무용">
                            <p>무용</p>
                        </swiper-slide>
                        <swiper-slide onclick="filterByField('음악')">
                            <img src="../img/icon/music.svg" alt="음악">
                            <p>음악</p>
                        </swiper-slide>
                        <swiper-slide onclick="filterByField('미술')">
                            <img src="../img/icon/art.svg" alt="미술">
                            <p>미술</p>
                        </swiper-slide>
                        <swiper-slide onclick="filterByField('기타')">
                            <img src="../img/icon/etc.svg" alt="기타">
                            <p>기타</p>
                        </swiper-slide>
                    </swiper-container>
                </div>

                <form action="/artist-profiles" method="get">
                    <div class="search-option">
                        <button type="button" onclick="window.location.href='/artistProfiles/new'">내 프로필 등록</button>
                        <div class="filter">
                            <select name="sortOrder" id="sortOrder" onchange="this.form.submit()">
                                <option value="" th:selected="${sortOrder == null || sortOrder == ''}">정렬선택</option>
                                <option value="newest" th:selected="${sortOrder == 'newest'}">최근등록순</option>
                            </select>
                        </div>
                    </div>
                    <div class="search-bar-option">
                        <select name="searchType" id="searchType">
                            <option value="name">이름</option>
                            <option value="affiliation">소속</option>
                            <option value="major">주전공</option>
                            <option value="location">주활동지역</option>
                            <option value="profession">직업</option>
                        </select>
                        <div class="search-bar">
                            <input type="text" name="searchTerm" placeholder="검색어를 입력해주세요">
                            <button type="submit" class="search-button">
                            </button>
                        </div>
                    </div>
                </form>


                <div class="profile-wrap">
                    <div class="profile">
                        <div class="title">
                            <p>소개 텍스트</p>
                            <div class="review">
                                <img src="../img/icon/star.svg" alt="리뷰평점">
                                <p>4.7</p>
                            </div>
                        </div>
                        <div class="content">
                            <div class="content-l">
                                <div class="img">
                                    <img src="../img/img/대표 악기 프로필 사진.jpg" alt="프로필 사진">
                                </div>
                                <div class="name">
                                    <p>이름</p>
                                </div>
                                <div class="location">
                                    <img src="../img/icon/location.svg" alt="장소">

                                    <div class="location-name">
                                        <p>서울</p>
                                        <span>|</span>
                                        <p>경기</p>
                                    </div>

                                </div>
                            </div>
                            <div class="txt">
                                <p th:text="${profile.fieldName}">분야</p>
                                <p th:text="${profile.affiliation}">소속</p>
                                <p th:text="${profile.professionName}">직업</p>
                                <p th:text="${profile.majorName}">주전공</p>
                                <div class="chat">
                                    <img src="../img/icon/heart.svg" alt="좋아요버튼">

                                    <!-- 좋아요 버튼 눌렀을 때 -->
                                    <!-- <img src="../img/icon/heart-fill.svg" alt="좋아요버튼"> -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="profile">
                        <div class="title">
                            <p>소개 텍스트</p>
                            <div class="review">
                                <img src="../img/icon/star.svg" alt="리뷰평점">
                                <p>4.7</p>
                            </div>
                        </div>
                        <div class="content">
                            <div class="content-l">
                                <div class="img">
                                    <img src="../img/img/대표 악기 프로필 사진.jpg" alt="프로필 사진">
                                </div>
                                <div class="name">
                                    <p>이름</p>
                                </div>
                                <div class="location">
                                    <img src="../img/icon/location.svg" alt="장소">

                                    <div class="location-name">
                                        <p>서울</p>
                                        <span>|</span>
                                        <p>경기</p>
                                    </div>

                                </div>
                            </div>
                            <div class="txt">
                                <p th:text="${profile.fieldName}">분야</p>
                                <p th:text="${profile.affiliation}">소속</p>
                                <p th:text="${profile.professionName}">직업</p>
                                <p th:text="${profile.majorName}">주전공</p>
                                <div class="chat">
                                    <img src="../img/icon/heart.svg" alt="좋아요버튼">

                                    <!-- 좋아요 버튼 눌렀을 때 -->
                                    <!-- <img src="../img/icon/heart-fill.svg" alt="좋아요버튼"> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

        </div>

        <ul class="nav">
            <li>
                <a href="../main.html">
                    <i>
                        <!-- 기본 -->
                        <img src="../img/icon/nav/home.svg" alt="홈">
        
                        <!-- 선택됐을 때 -->
                        <!-- <img src="../img/icon/nav/selected-home.svg" alt="홈"> -->
                    </i>
                    <p>홈</p>
                </a>
            </li>
            <li class="on">
                <a href="../search.html">
                    <i>
                        <!-- <img src="../img/icon/nav/search.svg" alt="검색"> -->
        
                        <!-- 선택됐을때 -->
                        <img src="../img/icon/nav/selected-search.svg" alt="검색">
                    </i>
                    <p>검색</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i>
                        <img src="../img/icon/nav/chat.svg" alt="채팅">
        
                        <!-- 선택됐을 때 -->
                        <!-- <img src="../img/icon/nav/selected-chat.svg" alt="채팅"> -->
                    </i>
                    <p>채팅</p>
                </a>
            </li>
            <li>
                <a href="../alarm.html">
                    <i>
                        <img src="../img/icon/nav/alarm.svg" alt="알람">
        
                        <!-- 선택됐을 때 -->
                        <!-- <img src="../img/icon/nav/selected-alarm.svg" alt="알람"> -->
                    </i>
                    <p>알림</p>
                </a>
            </li>
            <li>
                <a href="../mypage/mypage.html">
                    <i>
                        <img src="../img/icon/nav/mypage.svg" alt="마이페이지">
        
                        <!-- 선택됐을 때 -->
                        <!-- <img src="../img/icon/nav/selected-mypage.svg" alt="마이페이지"> -->
                    </i>
                    <p>MY</p>
                </a>
            </li>
        </ul>

    </div>


</body>

</html>